/*===================================== Media 576px ========================= */
@media(max-width: 576px){
/* Best Part Start */
.iphone img {
    width: 300px !important;
  }
.best-con .head h5{
    font-size: 30px !important;
}
/* Best Part End */
/* Trust Part Start */
.trust-part .container{
    width: 100% !important;
}
/* Trust Part End */
/* Awsome Part Start */
.awsome-content1,.awsome-content2,.awsome-content3{
    display: block !important;
    text-align: center;
}
.awsome-icon img{
    margin-top: -25px !important;
}
.awsome-content-con,.awsome-content-con2,.awsome-content-con3{
    margin-top: 20px;
}
.awsome-head{
    text-align: center;
}
.awsome-head h5:nth-child(1) {
    margin-top: 15px !important;
  }
/* Awsome Part End */
/* Smart Part Start */
.smart-part .container{
    width: 100% !important;
}
.smart-con-mai {
    padding-bottom: 40px !important;
  }
/* Smart Part End */
/* Auto Part Start */
.auto-part .container{
    width: 100% !important;
}
.auto-con1,.auto-con2,.auto-con3{
    text-align: center;
}
.auto-con2{
    margin-top: 25px;
}
/* Auto Part End */
/*  Desingen Part Start  */
.desingen-content {
    padding-left: 15px !important;
  }
.desingen-content h5:nth-child(1){
    padding-top: 30px !important;
}
/*  Desingen Part End */
/* Why Part Start */
.why-part .container{
    width: 100% !important;
}
.why-header h5 {
    font-size: 27px !important;
  }
/* Why Part End */
/* Ultimate Part Start */
.ultimate-content-con,.ultimate-header,.ultimate-con{
    text-align: center;
}
/* Ultimate Part End */
/* Awsome Part Start */
.get-part .container{
    width: 100% !important;
}
.get-header .head h5 {
    font-size: 21px !important;
  }
/* Awsome Part End */
/* Meet Part Start */
.meet-header h5 {
    font-size: 27px !important;
  }
.meet-img img {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
.meet-header h5:nth-child(1) {
    margin-top: 35px;
  }
/* Meet Part End */
/* Question Part Start */
.question-part .container{
    width: 100% !important;
}
/* Question Part End */
/* Dwon Part Start */
.dwon-img2 img {
    margin-bottom: -25px !important;
  }
/* Dwon Part End */
/* Footer Part Start */
.footer-content .link1{
    text-align: center !important;
}
.footer-content .link2{
    text-align: center !important;
}
/* Footer Part End */
}
/*===================================== Media 768px ========================= */
@media(max-width: 768px){
/* Best Part Start */
.best-con {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
/* Best Part End */
/* Trust Part Start */
.trust-img1 img:nth-child(2){
    margin-top: 40px;
}
.trust-img2 img:nth-child(2){
    margin-top: 40px;
}
/* Trust Part End */
/* Smart Part Start */
.smart-con{
    border: none;
}
.smart-content{
    margin-left: 0 !important;
}
/* Smart Part End */
/* Auto Part Start */
.auto-con3{
    margin-top: 25px;
}
/* Auto Part End */
/* Ultimate Part Start */
.con-img img {
    margin-left: 0px !important;
  }
/* Ultimate Part End */
}
/*===================================== Media 992px ========================= */
@media(max-width: 992px){
/* Best Part Start */
/* Navbar Part Start */
.navbar-light .navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.nav-item{
    text-align: center !important;
}
/* Navbar Part End */
.best-con-mai .container{
    width: 100% !important;
}
.best-con .head h5 {
    font-size: 38px !important;
  }
/* Best Part End */
/* Awsome Part Start */
.awsome-part .container{
    width: 100%;
}
/* Awsome Part End */
/*  Desingen Part Start  */
.desingen-content {
    padding-top: 0px !important;
  }
/*  Desingen Part End */
/* Ultimate Part Start */
.ultimate-part .container{
    width: 100% !important;
}
/* Ultimate Part End */
}
/*===================================== Media 1200px ========================= */
@media(max-width: 1200px){
/* Dwon Part Start */
.dwon-part .container{
    width: 100% !important;
}
.dwon-img2 img {
    margin-top: 40px;
  }
/* Dwon Part End */
}