@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
/* Best Part Start */
/* Navabr Part Start */
*{
    padding: 0;
    margin: 0;
}
p {
    margin-bottom: 0rem;
}
.navbar .container{
    width: 1100px;
    margin: 0 auto;
}
.nav-con-mai{
    margin-top: 15px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #242f51;
    font-size: 15px;
    padding-right: 40px;
    font-weight: 600;
}
.navbar-nav .try {
    background-color: #2500f9;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 40px;
}
/* Navabr Part End */
.best-part{
    background-color: #fdfdfe;
}
.best-con-mai .container{
    width: 1000px;
    margin: 0 auto;
}
.best-con-mai{
    background-image: url('../img/bgimg/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 39px;
}
.best-con{
    padding-top: 155px;
    padding-bottom: 100px;
}
.best-con .edit p{
    font-size: 14px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    background-color: #e1eaed;
    padding: 5px 15px;
}
.best-con .edit i{
    background-color: #fda925;
    width: 40px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.best-con .head h5{
    font-size: 50px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.best-con .head h5:nth-child(2){
    margin-top: -9px;
}
.best-con .prand p{
    font-size: 15px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
}
.prand {
    padding-bottom: 40px;
}
.button .check{
    font-size: 15px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 40px;
    background: none;
    transition: .9s;
}
.button .check:hover{
    background: #2500f9;
    padding: 10px 30px;
    border-radius: 40px;
    color: #ffffff;
}
.iphone img{
    width: 350px;
}
/* Best Part End */
/* Trust Part Start */
.trust-part{
    padding: 80px 0;
}
.trust-part .container{
    width: 1000px;
    margin: 0 auto;
}
.trust-head h5{
    font-size: 15px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}
.trust-con-mai{
    padding-top: 20px;
}
.trust-img1{
    text-align: right;
}
.trust-img1 img:nth-child(1){
    margin-right: 20px;
}
.trust-img2 img:nth-child(2){
    margin-left: 20px;
}
/* Trust Part End */
/* Awsome Part Start */
.awsome-con-mai{
    padding: 40px 0;
}
.awsome-head h5{
    font-size: 35px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.awsome-head h5:nth-child(2){
    margin-top: -13px;
}
.awsome-head h5:nth-child(1){
    margin-top: 28px;
}
.awsome-head p{
    font-size: 15px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
}
.awsome-icon img{
    margin-right: 20px;
    margin-top: 8px;
}
.awsome-content-con h5{
    font-size: 16px;
    color: #f55767;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.awsome-content-con p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;
}
.awsome-content-con2 h5{
    font-size: 16px;
    color: #2563ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.awsome-content-con2 p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;
}
.awsome-content-con3 h5{
    font-size: 16px;
    color: #40975f;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.awsome-content-con3 p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;
}
.awsome-content1,.awsome-content2,.awsome-content3{
    padding-top: 25px;
}
.awsome-content1{
    padding-top: 60px;
}
/* Awsome Part End */
/* Smart Part Start */
.smart-part .container{
    width: 1000px;
    margin: 0 auto;
}
.smart-con-mai{
    padding-top: 40px;
    padding-bottom: 60px;
}
.smart-con{
    border-right: 2px solid #b9b9b8; 
}
.smart-con h5{
    font-size: 30px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.smart-content{
    padding: 20px 0;
    margin-left: 20px;
}
.smart-content p{
    font-size: 15px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
}
/* Smart Part End */
/* Auto Part Start */
.auto-part .container{
    width: 1000px;
    margin: 0 auto;
}
.auto-con-mai{
    padding-top: 40px;
    padding-bottom: 70px;
}
.auto-con1 .auto-content h5{
    font-size: 18px;
    color: #f55767;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 20px;
}
.auto-con1 .auto-content p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;
}
.auto-con2 .auto-content h5{
    font-size: 18px;
    color: #2563ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 20px;
}
.auto-con2 .auto-content p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;
}
.auto-con3 .auto-content h5{
    font-size: 18px;
    color: #40975f;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 20px;
}
.auto-con3 .auto-content p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;
}
/* Auto Part End */
.desingen-part{
    padding-bottom: 60px;
    border-bottom: 2px solid #f4f4f4;
}
.desingen-content {
    padding-top: 149px;
    padding-left: 40px;
    padding-bottom: 30px;
}
.desingen-content h5{
    font-size: 30px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.desingen-content h5:nth-child(2) {
    margin-top: -5px;
}
.desingen-content h5:nth-child(3) {
    margin-top: -5px;
}
.desingen-content .para{
    padding-top: 20px;
}
.desingen-content .para p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;
}
.desingen-content .learn{
    font-size: 15px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif; 
    background-color: #2500f9;
    border: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: 40px;
}
 /* Why Part Start */
.why-part{
    padding: 80px 0;
}
 .why-part .container{
    width: 1000px;
    margin: 0 auto;
}
.why-header h5{
    font-size: 30px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;  
}
.why-header h5:nth-child(2){
    margin-top: -10px;
    padding-bottom: 10px;
}
.why-header p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;  
}
.why-content h5{
    font-size: 17px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;    
    font-weight: 600;
    padding-top: 15px;
}
.why-content .parent p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif; 
}
.why-img img {
    padding-top: 70px;
}
 /* Why Part End */
 /* Ultimate Part Start */
.ultimate-part .container{
    width: 1000px;
    max-width: 0 auto;
}
.ultimate-header .head h5{
    font-size: 30px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;    
    font-weight: 600;
}
.ultimate-header .head h5:nth-child(2){
    margin-top: -10px;
}
.ultimate-header .prant p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;    
}
.ultimate-con-mai{
    padding-top: 40px;
    padding-bottom: 80px;
}
.ultimate-img img{
    padding-top: 50px;
}
.ultimate-prant-heade h5{
    font-size: 17px;
    color: #242f51;
    font-family: 'Poppins', sans-serif;    
    font-weight: 600; 
    padding-top: 15px;
}
.ultimate-prant-heade .ultimate-prant p{
    font-size: 13px;
    color: #616368;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
}
.see{
    background-color: #2500f9;
    color: #ffffff;
    padding: 10px 48px;
    border: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    border-radius: 40px;
    margin-top: 40px;
}
.con-img img {
    margin-left: 50px;
    margin-top: 50px;
}
 /* Ultimate Part End */
 /* Get Part Start */
.get-part{
    border-bottom: 2px solid #f4f4f4;
}
.get-part .container{
    width: 1000px;
    margin: 0 auto;
 }
.get-header .head h5{
    font-size: 30px;
    color: #242f51;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;   
}
.get-header .head h5:nth-child(2){
    margin-top: -10px;
}
.get-header .prant p{
    font-size: 15px;
    color: #616368;
    font-family: 'Poppins', sans-serif;
}
.get-con-mai{
    padding: 60px 0;
}
.card{
    border-radius: 10px;
}
.dolar-header{
    background-color: #f6f9fa;
    padding: 40px 0;
}
.dolar-header .doler-first h5{
    font-size: 50px;
    color: #242f51;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
}
.dolar-header .doler-first p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    color: #999ca5;
    margin-top: 25px;
}
.dolar-header .dolor-sec h5{
    font-size: 17px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
}
.dolar-header .dolor-sec p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
    color: #999ca5;
    font-weight: 500;
    margin-top: -10px;
}
.get-content{
    padding-bottom: 15px;
}
.card-body .get-content p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
    color: #999ca5;
    font-weight: 500;
    padding-top: 25px;
}
.get-button{
    padding: 20px 0;
}
.get-button .start {
    border: none;
    background-color: transparent;
    padding: 10px 30px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #2500f9;
    font-weight: 500;
    border-radius: 40px;
    border: 1.5px solid #999ca5;
    transition: .9s;
}
.get-button .start:hover {
    border: none;
    background-color: #2500f9;
    color: #ffffff;
    border: 1.5px solid #2500f9;
}
 /* Get Part End */
/* Meet Part Start */
.meet-con-mai{
    padding: 90px 0;
}
.meet-img img{
    margin-left: -40px;
    margin-top: 70px;
}
.meet-header h5{
    font-size: 35px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
}
.meet-header h5:nth-child(2){
    margin-top: -10px;
}
.meet-header .presnt{
    margin-top: 20px;
}
.meet-header .presnt p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
    color: #616368;
}
.meet-con .start{
    margin-top: 15px;
    color: #ffcc00;
}
.meet-content h5{
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
    margin-top: 13px;
}
.meet-content .prent p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
    color: #616368;
}
.ceo{
    margin-top: 20px;
}
.ceo .ceo-content{
    margin-left: 15px;
    margin-top: 22px;
}
.ceo .ceo-content h5{
    font-size: 17px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
}
.ceo .ceo-content p{
    margin-top: -5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    color: #616368;
}
/* Meet Part End */
/* Question Part Start */
.question-part{
    padding: 45px 0;
}
.question-part .container{
    width: 1000px;
    margin: 0 auto;
}
.question-header h5{
    font-size: 35px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
}
.question-header p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    color: #616368;
}
.question-mai-con{
    padding: 60px 0;
}
.question-content{
    background-color: #f5f7fa;
    padding: 30px;
    border-radius: 10px;
}
.question-content h5{
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
    margin-bottom: 25px;
}
.question-content p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    color: #616368;
}
.accordion-button{
    background-color: #f5f7fa;
    margin-top: 10px;
    border: none;
    border-bottom: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
    border-radius: 10px;
}
.accordion-body {
    background-color: #f5f7fa;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
}
.accordion-button:focus{
    box-shadow: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
    background-color: #f5f7fa;
}
/* Question Part End */
/* Dwon Part Start */
.dwon-part{
    border-top: 2px solid #f4f4f4;
}
.dwon-part .container{
    width: 1235px;
    margin: 0 auto;
}
.dwon-con{
    padding-top: 56px;
}
.dwon-content h5{
    font-size: 38px;
    font-family: 'Poppins', sans-serif; 
    color: #242f51;
    font-weight: 600;
}
.dwon-content p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    color: #616368;
}
.dwon-imge img{
    padding-top: 30px;
}
.dwon-img2 img{
    margin-left: 105px;
    margin-bottom: -43px;
}
/* Dwon Part End */
/* Footer Part Start */
.app-footer{
    background-color: #09142e;
}
.footer-con-mai{
    padding-top: 70px;
    padding-bottom: 60px;
}
.footer-content{
    padding-top: 40px;
}
.footer-content .link1{
    text-align: right;
}
.footer-content .link1 a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    color: #ffffff;
    margin-right: 20px;
}
.footer-content .link1 a:nth-child(2){
    margin-right: 0;
}
.footer-content .link2 a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    color: #ffffff;
    margin-right: 20px;
}
.footer-content .link2 a:nth-child(1){
    margin-right: 0;
}
.footer-link i{
    color: #273043;
    font-size: 25px;
    margin-right: 25px;
    padding-top: 40px;
}
.footer-link i:hover{
    color: #ffffff;
    transition: .9s;
}
.copy-right{
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    color: #273043;
    padding-top: 40px;
}
/* Footer Part End */